body {
    color: #0194CA;
    font-size: 14px;
    background-color: black;
    font-family: 'robotoregular', Helvetica, Arial, sans-serif;
}

ul,
menu,
dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.chat-container {}

.chat {
    position: relative;
    padding-bottom: 15em;
    overflow: hidden;
    margin: 0 auto;
    max-width: 700px;
}

.chat__restart--button {
    text-align: center;
    color: red;
}

.chat__list {
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
}

.chat__list__item {
    margin: 0;
    overflow: hidden;
}

.chat__block {
    line-height: 1.45em;
    margin: 0 0 1em;
    text-align: left;
    padding: 6px 12px;
}

.chat__question {
    transform: translate3d(-96px, 0, 0);
    transition: transform 0.75s;
}

.chat__question--slideIn {
    transform: translate3d(0, 0, 0);
}

.chat__responses {
    padding-top: 20px;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.chat__answer--button {
    margin: 6px 6px;
    transition: transform 0.3s;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid transparent;
    border-color: #fbb615;
    cursor: pointer;
    float: none;
    color: #fbb615;
}

.chat__answer--button--clicked {
    margin: 6px 6px;
    transition: transform 0.3s;
    display: inline-block;
    cursor: pointer;
    float: none;
    color: #fbb615;
}

.chat__answer {
    transition: transform 0.3s;
    float: right;
    color: #fbb615;
}

.chat__textarea--placeholder:before {
    content: 'Type and hit RETURN...';
    display: inline-block;
    opacity: 0.5;
}

.chat__textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    height: 75px;
    overflow: auto;
    padding: 2px;
    float: none;
    cursor: text;
    border-radius: 3px;
    border: 1px solid;
    margin: 12px 12px;
    transition: transform 0.3s;
    color: #fbb615;
    outline: 0px solid transparent;
}

.chat__textarea--finished {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    height: 75px;
    overflow: auto;
    padding: 2px;
    float: none;
    cursor: text;
    margin: 12px 12px;
    transition: transform 0.3s;
    color: #fbb615;
    outline: 0px solid transparent;
}
