body {
    color: #0194CA;
    font-size: 12px;
    background-color: black;
    font-family: 'robotoregular', Helvetica, Arial, sans-serif;
}

ul,
menu,
dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#chat-container {
    padding-top: 100px;
    font-family: 'robotolight', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
}

.chat {
    position: relative;
    padding-bottom: 15em;
    overflow: hidden;
    margin: 0 auto;
    max-width: 600px;
}

.chat__restart--button {
    line-height: 1.45em;
    text-align: left;
    padding: 6px 12px;
    margin: 6px 12px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid transparent;
    border-color: #fbb615;
    cursor: pointer;
    float: right;
    color: #fbb615;
}

.chat__list {
    clear: right;
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
}

.chat__list__item {
    margin: 0;
    overflow: hidden;
}

.chat__block {
    line-height: 1.45em;
    margin: 0 0 1em;
    text-align: left;
    padding: 6px 12px;
}

.chat__question {
    transform: translate3d(-96px, 0, 0);
    transition: transform 0.75s;
}

.chat__question--slideIn {
    transform: translate3d(0, 0, 0);
}

.chat__responses {
    padding-top: 20px;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.chat__answer--button {
    margin: 6px 6px;
    transition: transform 0.3s;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid transparent;
    border-color: #fbb615;
    cursor: pointer;
    float: none;
    color: #fbb615;
}

.chat__answer--button--clicked {
    margin: 6px 6px;
    transition: transform 0.5s;
    display: inline-block;
    cursor: pointer;
    float: none;
    color: #fbb615;
}

.chat__answer {
    transition: transform 0.5s;
    float: right;
    color: #fbb615;
    max-width: 75%;
    text-align: right;
}

.chat__textarea--placeholder:before {
    content: attr(placeholder);
    display: inline-block;
    opacity: 0.5;
}

.chat__textarea {
    height: 75px;
    overflow: auto;
    padding: 2px;
    float: none;
    cursor: text;
    border: 1px solid transparent;
    border-color: #fbb615;
    border-radius: 3px;
    margin: 12px 12px;
    transition: transform 0.3s;
    color: #fbb615;
    outline: 0px solid transparent;
}

.chat__textarea--finished {
    height: 75px;
    overflow: auto;
    padding: 2px;
    float: none;
    cursor: text;
    margin: 12px 12px;
    transition: transform 0.5s;
    color: #fbb615;
    outline: 0px solid transparent;
    max-width: 75%;
    text-align: right;
}